*{
    font-family:'Arial', sans-serif;
}
.banner {
    height:95vh;
}
.front-banner {
    background: url('/assets/img/bg.jpg') no-repeat center center fixed;
    background-size:cover;
}
h1 , h3{
	font-family: 'Arial', sans-serif;
	color:#333333;
}
h3 {
	font-weight:normal;
}
.logo {
	width:130px;
	height:auto;
	margin-top:1%;
}
.row {
	max-width:100%;
}
.top-bar {
    position:fixed;
    z-index:99999;
    width:100%;
	background-color:#F5DA55;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    color:#333;
    background-color:#F5DA55;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    color:#F5DA55;
    background-color:white;
}
.top-bar-section li:not(.has-form) a:not(.button){
	font-family: 'Open Sans', sans-serif;
}
.cfa {
	text-align:center;
	color:#333;
}
.cfa h1 {
	font-family: 'Arial', sans-serif;
    font-weight:normal;
}
.register-box {
    text-align:left;
    color:#333;
}
button, .button {
    font-weight:bold;
	color:#333;
    text-align:center;
    font-family: 'Open Sans';
	background-color: #F5DA55;
}
button:hover, .button:hover {
    color:#F5DA55;
	background-color: #333;
}
.full-width {
	width:100%;
}
.register-btn {
	font-size:16px;;
	padding:10px;
}
.homepage-grid {
    padding:5%;
}
.banner-2{
    background-color:#ffffff;
    color:#333;
}
.banner-2 h1 {
    color:#333;
    font-weight:bold;
}
.footer {
    color:white;
    text-align:center;
    font-family:'Arial', 'sans-serif';
    background-color:#333;
    padding:2%;
}
.social-icon {
    font-size:40px;
}
.social {
    list-style-type:none;
}
input::-webkit-input-placeholder {
    color: rgb(180,180,180) !important;
    font-style:italic;
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: rgb(180,180,180) !important;
    font-style:italic;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(180,180,180) !important;
    font-style:italic;
}
 
input:-ms-input-placeholder {  
    color: rgb(180,180,180) !important;
    font-style:italic;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{

    font-family: 'Open Sans', sans-serif;
    border-radius:5px;
}
.banner-div {
    margin-top:15%;
}
.banner-div div {
    text-align:center;
}
.banner-image {
    display:block;
    font-size:120px;
}
.search-box {
    width:60%;
    margin-top:15%;
    position:relative;
    left:20%;
    text-align:center;
    background-color:rgba(0,0,0,0.8);
    color:white;
    padding:3%;
    border-radius:5px;
}
.search-box h1{
    color:white;
}
.footer-small {
    font-size:12px;
}
.footer-row {
    background-color:#333;
}
