*{
    font-family:'Lato', sans-serif;
}
h1 , h3{
	font-family: 'Lato', sans-serif;
	color:#333333;
}
h3 {
	font-weight:normal;
}
.logo {
	width:130px;
	height:auto;
	margin-top:1%;
}
.row {
	max-width:100%;
}
/*.top-bar {
	background-color:#7EA436;
	border-bottom: 1px solid #7EA436;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	color:#7EA436;
	background-color:white;
}*/
.top-bar-section li:not(.has-form) a:not(.button){
	font-family: 'Open Sans', sans-serif;
}
.cfa {
	text-align:center;
	color:white;
}
.cfa h1 {
	font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #EDF0F5;
/*	background:url('/assets/img/cfa-bg.jpeg') no-repeat center center fixed;
	background-size:cover; */
}
.register-box {
    text-align:left;
}
button, .button {
    font-weight:bold;
	color:white;
    font-family: 'Open Sans';
	background-color: #7EA436 ;
}
button:hover, .button:hover {
	background-color: #7EA512;
}
.full-width {
	width:100%;
}
.register-btn {
	font-size:16px;;
	padding:10px;
}
.homepage-grid {
    padding:5%;
}
.footer {
    background-color:#333;
    color:white;
    text-align:center;
    font-family:'Open Sans', 'sans-serif';
    position:fixed;
    bottom:0;
    padding:5px;
    font-size:11px;
}
input::-webkit-input-placeholder {
    color: rgb(180,180,180) !important;
    font-style:italic;
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: rgb(180,180,180) !important;
    font-style:italic;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(180,180,180) !important;
    font-style:italic;
}
 
input:-ms-input-placeholder {  
    color: rgb(180,180,180) !important;
    font-style:italic;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{

    font-family: 'Open Sans', sans-serif;
    border-radius:5px;
    border:2px solid #BDC3C7;
}
.banner-div {
    margin-top:15%;
}
.banner-div div {
    text-align:center;
}
.banner-image {
    display:block;
    font-size:120px;
}
